.highlight-outline {
    border: 2px solid black;
    padding: 2x 4px;
}
.highlight-color {
    background-color: red
}

h2{
    background-color: yellow;
}
.h3{
    font-size: 100%;
}

 
.highlight-green {
    background-color: green;
}

  
    